@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  background-color: #a52a2a;
  background-image: url("assets/Library3.jpg"); /* image path */
  background-size: cover; /* makes image cover entire area */
  background-position: center; /* center the image */
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #c19a6b;
}

.container {
  padding: 20px;
}
main,
.page-content {
  padding-top: 80px; /* to avoid overlap with fixed navbar */
}
.navbar {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: #954535; /* header color */
  color: #c19a6b; /* text color */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.navbar a {
  color: white;
  margin-left: 12px;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 12px;
  margin-top: 15px;
}

.card {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 8px;
}
.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

.navbar .links {
  display: flex;
  gap: 18px;
}

.navbar .links a {
  color: #c19a6b;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.2s ease;
}
.navbar .links a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.navbar h2 {
  margin: 0;
  font-size: 22px;
}

.form-input {
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #c19a6b;
  border-radius: 6px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.form-input:focus {
  border-color: #c19a6b;
  box-shadow: 0 0 5px #c19a6b;
}
textarea {
  resize: vertical; /* allows vertical resizing */
  min-height: 100px;
}
.form-button {
  padding: 10px 15px;
  background-color: #954535;
  color: #c19a6b;
  border: 2px solid #c19a6b;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.form-button:hover {
  background-color: #7b3f00;
}
.add-new-book {
  margin-bottom: 20px;
  font-size: 28px;
  color: #c19a6b;
  text-shadow: 2px 2px 4px #6e260e;
}
/* Mobile responsive */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .navbar .links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
